.not-visible {
    display: none;
}

.desc-not-visible {
    display: none;
}

.job-list-container {
    padding: 0;
    margin: 0;
    color: blue;
    overflow: auto;
}

.job-container {
    background-color: rgba(38, 63, 106, .2);
    border-radius: 2px;
    color: rgba(38, 63, 106, 1);
    padding: 4px;
    margin-bottom: 3px;
}




