@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.reset-button {
    font-family: "Open Sans";
    background-color: #D1DFD6;
    border-style: none;
    border-radius: 2px;
    height: 35px;
    margin-top: 2px;
    margin-right: 5px;
    z-index: 100000;
    color: rgba(38, 63, 106, 1);
}

.button-container {
    right: 2px;
}