@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.zip-list {
    font-family: "Open Sans";
    width: 31vw;
    height: 100%;
    color: black;
    position: fixed;
    overflow: auto;
    right: 1em;
}

.zip-title {
    color: rgba(38, 63, 106, 1);
    background-color: #D1DFD6;
    text-align: center;
    padding: 15px;
}

.zip-title:active {
    color: #D1DFD6;
    background-color:rgba(38, 63, 106, 1);
}
