@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.zip-list {
    font-family: "Open Sans";
    width: 31vw;
    height: 100%;
    color: black;
    overflow-y: auto;
    position: fixed;
    right: 1em;
}
 